<template>
    <div class="container mx-auto px-4 align-middle m-auto h-5/6">
        <div class="grid grid-cols-2 gap-0 h-full pb-18">
            <div id="editorContainer" class="h-full max-h-full w-full shadow-lg bg-gray-800 rounded-l-xl p-6">
                <p class="text-center text-gray-400">EDITOR</p>                
                <textarea id="editor" class="rounded-lg h-full w-full px-4 py-4 max-h-full bg-gray-800 hover:bg-gray-700 text-green-500 w-full font-serif transition duration-200 ease-in-out transform " :value="input" @input="update" v-on:scroll="handleScroll"></textarea>                
            </div>
            <div id="previewContainer" class="max-h-full overflow-y-hidden w-full bg-white shadow-lg border-2 border-green-500 rounded-r-xl p-6 pr-0">
                <p class="text-center text-gray-400">PREVIEW</p>                
                <article id="preview" class="prose w-full max-w-full h-full px-4 py-0 text-gray-800 max-h-full overflow-y-scroll" v-html="compiledMarkdown"></article>
            </div>
        </div>
    </div>  
</template>

<script>
import { markdown } from './../helpers/parsers'

//sample markdown to render on initial load
const placeholder = `# H1
## H2
### H3
#### H4
##### h5
###### h6
paragraph
---
**bold**

*italic*

> blockquote
\`console.log('code')\`
---
- ul item 1
- ul item 2

1. ol item 1

2. ol item 2

---
[Project](https://gitlab.com/ascendance/vue-markdown-editor)
![Perseverance](https://www.nasa.gov/sites/default/files/thumbnails/image/pia24430-1041.jpg)
`
export default{    
    name: "MarkdownEditor",
    data: function() {
        return {
            input: placeholder
        }
    },
    computed: {
        compiledMarkdown: function() {
        return markdown(this.input);
        }
    },
    methods: {
        update: (function(e) {
            this.input = e.target.value;
            
        }),
        handleScroll: (function() {
            //console.log('scroll')
            let previewContainer = this.$el.querySelector("#preview");
            const editor = this.$el.querySelector("#editor");
            previewContainer.scrollTo(0,editor.scrollTop);            
        })
    }
}
</script>