<template>
  <div id="app" class="h-screen max-h-screen bg-white dark:bg-gray-900">    
    <h1 class="text-center py-2 text-4xl font-bold text-black dark:text-white">
      Markdown Editor
    </h1>
    <MarkdownEditor />
    <div class="text-center align-middle w-full h-md bg-black text-green-500 text-white fixed bottom-0">
      <a class="text-xl" href="https://gitlab.com/ascendance/vue-markdown-editor" target="_blank">Source</a>
    </div>
  </div>
</template>

<script>
import MarkdownEditor from './components/MarkdownEditor'

export default {
  name: 'App',
  components: {
    MarkdownEditor
  }
}
</script>